<div class="editor-row">
  <div class="section">
    <h5>Line options</h5>
    <div class="editor-option">
      <label class="small">Null point mode<tip>Define how null values should be drawn</tip></label>
      <select class="input-medium" ng-model="panel.nullPointMode" ng-options="f for f in ['connected', 'null', 'null as zero']" ng-change="render()"></select>
    </div>
  </div>
  <div class="section">
    <h5>Multiple Series</h5>

		<editor-opt-bool text="Stack" model="panel.stack" change="render()"></editor-opt-bool>
		<editor-opt-bool text="Percent" model="panel.percentage" change="render()" tip="Stack as a percentage of total"></editor-opt-bool>
	</div>

  <div class="section">
    <h5>Tooltip</h5>
		<editor-opt-bool
			text="All series" model="panel.tooltip.shared" change="render()"
			tip="Show all series on same tooltip and a x croshair to help follow all series">
		</editor-opt-bool>
		<div class="editor-option" ng-show="panel.stack">
      <label class="small">Stacked Values <tip>How should the values in stacked charts to be calculated?</tip></label>
      <select class="input-small" ng-model="panel.tooltip.value_type" ng-options="f for f in ['cumulative','individual']" ng-change="render()"></select>
    </div>
  </div>

  <div class="section">
    <h5>Histogram</h5>
    <div class="editor-option">
      <label class="small">Bucket Size</label>
      <input type="text" class="input-mini" ng-model="panel.bucketSize" ng-change="render()">
    </div>
  </div>
</div>
